<ol reversed class="postlist">
    {% for post in postslist | reverse %}
        <li>
            <a href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | shortReadableDate }}</time>
            <div class="tags">
                {% for tag in post.data.tags %}
                    {%- if collections.tagList.indexOf(tag) != -1 -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}">{{ tag }}</a>
                    {%- endif -%}
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ol>
